<section class="space-y-6">
  <h2 class="text-lg font-medium text-gray-900">Delete Account</h2>

  {{ form_start(deleteAccountForm, {'attr': {'class': 'p-6' }}
	) }}
    <h2 class="text-lg font-medium text-gray-900">Are you sure you want to delete your account?</h2>

    <p class="mt-1 text-sm text-gray-600">Once your account is deleted, all of its resources and data will be permanently deleted. Please enter your password to confirm you would like to permanently delete your account.</p>

    <div class="mt-6">
      {{ form_label(deleteAccountForm.currentPassword, 'Password', {'label_attr': {'class': 'sr-only block font-medium text-sm text-gray-700' }}
	) }}

      {{ form_widget(deleteAccountForm.currentPassword, {'attr': {'class': 'mt-1 block w-3/4 border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 rounded-md shadow-sm', 'placeholder':'Password' }}
	) }}

      {% if deleteAccountForm.currentPassword.vars['errors']|length > 0 %}
		<ul class="mt-2 text-sm text-red-600 space-y-1">
			{% for error in deleteAccountForm.currentPassword.vars['errors'] %}
				<li>{{ error.message }}</li>
			{% endfor %}
		</ul>
	{% endif %}
    </div>

    <div class="mt-6 flex justify-end">
      <a type="button" href={{path('posts_index')}} class="inline-flex items-center px-4 py-2 bg-white border border-gray-300 rounded-md font-semibold text-xs text-gray-700 uppercase tracking-widest shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 disabled:opacity-25 transition ease-in-out duration-150">Cancel</a>

      <button type="submit" class="ml-3 inline-flex items-center px-4 py-2 bg-red-600 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-red-500 active:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2 transition ease-in-out duration-150">Delete Account</button>
    </div>
  {{ form_end(deleteAccountForm) }}
</section>
