<section>
  <header>
    <h2 class="text-lg font-medium text-gray-900">Update Password</h2>

    <p class="mt-1 text-sm text-gray-600">Ensure your account is using a long, random password to stay secure.</p>
  </header>

  {{ form_start(passwordForm, {'attr': {'class': 'mt-6 space-y-6' }}
	) }}
    {{ form_label(passwordForm.currentPassword, 'Current Password', {'label_attr': {'class': 'block font-medium text-sm text-gray-700' }}
	) }}
    {{ form_widget(passwordForm.currentPassword, {'attr': {'class': 'border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 rounded-md shadow-sm mt-1 block w-full' }}
	) }}
    {% if passwordForm.currentPassword.vars['errors']|length > 0 %}
		<ul class="text-sm text-red-600 space-y-1 mt-2">
			{% for error in passwordForm.currentPassword.vars['errors'] %}
				<li>{{ error.message }}</li>
			{% endfor %}
		</ul>
	{% endif %}
    
{{ form_label(passwordForm.newPassword.first, 'New Password', {'label_attr': {'class': 'block font-medium text-sm text-gray-700' }}
	) }}
    {{ form_widget(passwordForm.newPassword.first, {'attr': {'class': 'border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 rounded-md shadow-sm mt-1 block w-full' }}
	) }}
     {% if passwordForm.newPassword.first.vars['errors']|length > 0 %}
		<ul class="text-sm text-red-600 space-y-1 mt-2">
			{% for error in passwordForm.newPassword.first.vars['errors'] %}
				<li>{{ error.message }}</li>
			{% endfor %}
		</ul>
	{% endif %}
    
{{ form_label(passwordForm.newPassword.second, 'Repeat Password', {'label_attr': {'class': 'block font-medium text-sm text-gray-700' }}
	) }}
    {{ form_widget(passwordForm.newPassword.second, {'attr': {'class': 'border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 rounded-md shadow-sm mt-1 block w-full' }}
	) }}
    {% if passwordForm.newPassword.second.vars['errors']|length > 0 %}
		<ul class="text-sm text-red-600 space-y-1 mt-2">
			{% for error in passwordForm.newPassword.second.vars['errors'] %}
				<li>{{ error.message }}</li>
			{% endfor %}
		</ul>
	{% endif %}
    

    <div class="flex items-center gap-4">
      <button type="submit" class="inline-flex items-center px-4 py-2 bg-gray-800 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-gray-700 focus:bg-gray-700 active:bg-gray-900 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 transition ease-in-out duration-150">Save</button>
		{% for message in app.flashes('status-password') %}
			{% if message == 'password-changed' %}
      <p x-data="{ show: true }" x-show="show" x-transition x-init="setTimeout(() => show = false, 2000)" class="text-sm text-gray-600">Saved.</p>
			{% endif %}
		{% endfor %}
    </div>
  {{ form_end(passwordForm) }}
</section>
