<section>
  <header>
    <h2 class="text-lg font-medium text-gray-900">Profile Information</h2>

    <p class="mt-1 text-sm text-gray-600">Update your account's profile information and email address.</p>
  </header>

  {{ form_start(userForm, {'attr': {'class': 'mt-6 space-y-6' }}
	) }}
    {% do userForm.password.setRendered %}
    {{ form_label(userForm.name, 'User name', {'label_attr': {'class': 'block font-medium text-sm text-gray-700' }}
	) }}
    {{ form_widget(userForm.name, {'attr': {'class': 'mt-1 block w-full border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 rounded-md shadow-sm' }}
	) }}
    {% if userForm.name.vars['errors']|length > 0 %}
		<ul class="mt-2 text-sm text-red-600 space-y-1">
			{% for error in userForm.name.vars['errors'] %}
				<li>{{ error.message }}</li>
			{% endfor %}
		</ul>
	{% endif %}
    {{ form_label(userForm.email, 'User email', {'label_attr': {'class': 'block font-medium text-sm text-gray-700' }}
	) }}
    {{ form_widget(userForm.email, {'attr': {'class': 'mt-1 block w-full border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 rounded-md shadow-sm' }}
	) }}
    {% if userForm.email.vars['errors']|length > 0 %}
		<ul class="mt-2 text-sm text-red-600 space-y-1">
			{% for error in userForm.email.vars['errors'] %}
				<li>{{ error.message }}</li>
			{% endfor %}
		</ul>
	{% endif %}
    <div class="flex items-center gap-4">
      <button type="submit" class="inline-flex items-center px-4 py-2 bg-gray-800 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-gray-700 focus:bg-gray-700 active:bg-gray-900 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 transition ease-in-out duration-150">Save</button>
      {% for message in app.flashes('status-profile-information') %}
        {% if message == 'user-updated' %}
      <p x-data="{ show: true }" x-show="show" x-transition x-init="setTimeout(() => show = false, 2000)" class="text-sm text-gray-600">Saved</p>
        {% endif %}
      {% endfor %}
    </div>
  {{ form_end(userForm) }}
</section>
