{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}

<div class="py-12 mt-10">
    <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
      <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
        <div class="p-6 text-gray-900">
          You're logged in!
          <a class="hover:text-stone-500" href="{{ path('dashboard_profile') }}">Profile</a>
          <div class="mt-6" x-data="{ tab: 1 }">
            <div class="flex mx-2 mb-4 space-x-4 text-xl border-b border-gray-300">
              <div class="hover:text-indigo-600 py-2 cursor-pointer" :class="{ 'text-indigo-600 border-b border-indigo-600': tab == 1 }" @click="tab = 1">Followers</div>
 
              <div class="hover:text-indigo-600 py-2 pl-2 cursor-pointer" :class="{ 'text-indigo-600 border-b border-indigo-600': tab == 2 }" @click="tab = 2">Following</div>

              <div class="hover:text-indigo-600 py-2 pl-2 cursor-pointer" :class="{ 'text-indigo-600 border-b border-indigo-600': tab == 3 }" @click="tab = 3">Liked Posts</div>
            </div>
            <div x-show="tab === 1">
              <b>People that follow you:</b>
              <ul>
                {% for follower in app.user.getFollowers() %}
                <li>
                  <a class="hover:text-stone-500" href="{{ path('posts_user', { id: follower.getId() }) }}">{{follower.getName()}}</a>
                </li>
                {% endfor %}
              </ul>
            </div>
            <div x-show="tab === 2">
              <b>People that you follow:</b>
              <ul class="space-y-4">
              {% for following in app.user.getFollowing() %}
                <li>
                  <a class="hover:text-stone-500" href="{{ path('posts_user', { id: following.getId() }) }}">{{following.getName()}}</a>
                  <a href="{{ path('posts_togglefollow', { user: following.getId() }) }}" class="ml-3 inline font-bold text-sm px-4 py-1 text-white rounded bg-blue-500 hover:bg-blue-600">Unfollow</a>
                </li>
              {% endfor %}
              </ul>
            </div>
            <div x-show="tab === 3">
              <b>Posts you liked:</b>
              <ul>
              {% for lpost in app.user.getLikesPosts() %}
                <li>
                  <a class="hover:text-stone-500" href="{{ path('posts_show', { id: lpost.id }) }}"><span class="text-red-100">{{lpost.title}}</span></a>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

